@media screen and (max-width: 768px) {
    .l-link {
        font-size: 48px;
    }
    #n-ticker {
        font-size: 24px;
    }
}
.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.l-link {
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.l-link:hover {
    background: black;
    color: white;
    font-size: 96px;
    padding: 8px 12px;
}
.l-link:active {
    font-size: 72px;
}
.news {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 0px;
    gap: 16px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #000000;
    color: #FFFFFF;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#n-ticker {
    font-style: normal;
    font-weight: lighter;
    font-size: 36px;
    display: flex;
    align-items: center;

}